.movie-tag {
  color: white;
  padding: 6px 16px;
  border-radius: 4px;
  background-color: rgba(200, 200, 200, 0.7);
  transition: background 0.3s ease;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
